@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Pixelify+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pixelify+Sans&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');
/* @media (max-width: 1250px) {
  } */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    overflow-y: hidden;
}

.solsystemetLogo{
    color:#fff;
    font-family: 'Secular One', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    right: 0rem;
    margin: 1rem;
    text-align: right;
    letter-spacing: 0.3375rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem;
}

.solsystemetLogo span{
    font-family: 'Lora', serif;
    align-self: flex-end;
    font-size: 2rem;
    color: #FFD029;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.9rem;
    margin-top: 1rem;

}

.planets{
margin-right: 3rem;
width: 100vw;
justify-content: space-between;
align-items: center;
display: flex;
flex-wrap: wrap;
}


.mercury{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: #888888;
}


.venus{

    border-radius: 50%;
    width:  2rem;
    height: 2rem;
    background: #E7CDCD;
}


.earth{
border-radius: 50%;
width: 1.9rem;
height: 1.9rem;
background: #428ED5;
}


.mars{
border-radius: 50%;
width: 1rem;
height: 1rem;
background: #EF5F5F;
}


.jupiter{
border-radius: 50%;
width: 12rem;
height: 12rem;
background: #E29468;
}


.saturn{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background: #C7AA72;
}
.saturnRing{
    position: absolute;
    width: 218.23px;
    height: 5.5px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: rotate(-30deg);
}


.uranus{
    position: relative;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background: #C9D4F1;
}


.neptunus{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background: #7A91A7;
}

.sun {
    height: 55rem;
    width: 31.5rem;
    background-color:yellow;
    border-radius: 100%;
    margin-left: -24rem;
    box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.20);
}

.modal{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
  }
  
.modal-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: #fff;
    width: 40vw;
    height: 60vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(5px); */
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow-x: scroll;
    overflow-x: hidden;
    padding: 1rem;
  }

  .modal-content > *{
    padding: 1rem;
  }
  
  .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

.star{
    position: absolute;
    background: #fff;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    filter: blur(2px);
}

.blueSun{
    height: 55rem;
    width: 31.5rem;
    position: absolute;
    background-color:rgba(66, 142, 212, 1);
    border-radius: 100%;
    left: -24rem;
    box-shadow: rgb(66, 142, 212, 0.10) 0px 0px 0px 100px, 
    rgb(66, 142, 212, 0.06) 0px 0px 0px 50px;
}


#planetName{
    grid-column: 1;
    grid-row: 1;
    font-family: 'Secular One', sans-serif;
    font-size: 3.75rem;
    text-transform: uppercase;
    letter-spacing: 0.3375rem;
    font-weight: 400;
    line-height: 3.75rem;
}

#planetLatinName{
    grid-column: 1;
    grid-row: 1;
    margin-top: 4rem;
    color: #FFD029;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.9rem;
    text-transform: uppercase;
}

#planetDescription{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9125rem;
}

.circ{
    grid-column: 1;
    grid-row: 3;
}

.distance{
    grid-column: 2;
    grid-row: 3;
}

.dayTemp{
    grid-column: 1;
    grid-row: 4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nightTemp{
    grid-column: 2;
    grid-row: 4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.moons{
    grid-column: 1;
    grid-row: 5;
}

h3{
    font-family: 'Secular One', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.10125rem;
    text-transform: uppercase;
}

#planetCirc, #planetDistance, #planetDayTemp, #planetNightTemp, #planetMoons{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9125rem;
    letter-spacing: 0.18rem;
}
